@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
  body {
   @apply font-[Mukta];
   @apply  bg-black;
   @apply text-white;
}
li {
  @apply px-4
}
}



.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(7, 7, 7, 0.295),
        hsla(0, 0%, 47%, 0.39)   
    )!important;
}